<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/assets/icons/favicon.ico">
        <link rel="preload" as="image" href="/assets/images/wallpaper-soup.jpg">
        <link rel="stylesheet" href="/styles/main.css">
        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script defer src="/scripts/main.js"></script>
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:image" content="{{ image }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <title>{{ title }} - Primordial Soup</title>
    </head>
    <body>
        {% include 'header.njk' %}
        {% include 'notification.njk' %}
        <main>
            {{ content | safe }}
        </main>
        {% include 'footer.njk' %}
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
    </body>
</html>