<footer>
    <span>&copy; Primordial Soup</span>
    <div class="social-links">
        <a href="">
            <img class="svg-image" src="/assets/icons/youtube-brands.svg" alt="youtube link">
        </a>
        <a href="">
            <img class="svg-image" src="/assets/icons/facebook-square-brands.svg" alt="facebook link">
        </a>
        <a href="">
            <img class="svg-image" src="/assets/icons/github-brands.svg" alt="github link">
        </a>
    </div>
</footer>