<footer>
    <span>&copy; Primordial Soup {% year %}
    </span>
    <div class="social-links">
        <a href="https://www.youtube.com/channel/UCXu6mQQurrnJXPcoX_oOmZA" title="YouTube">
            <img class="svg-image" src="/assets/icons/youtube-brands.svg" alt="youtube link">
        </a>
        <a href="https://www.facebook.com/Primordial-Soup-107806831868869" title="Facebook">
            <img class="svg-image" src="/assets/icons/facebook-square-brands.svg" alt="facebook link">
        </a>
        <a href="https://github.com/CondensedMilk7/primordial-soup-static" title="GitHub">
            <img class="svg-image" src="/assets/icons/github-brands.svg" alt="github link">
        </a>
        <a href="/feed" title="RSS feed">
            <img class="svg-image" src="/assets/icons/rss.svg" alt="RSS feed link">
        </a>
    </div>
</footer>