<footer>
    <span>&copy; Primordial Soup {% year %}
    </span>
    <div class="social-links">
        <a href="https://www.youtube.com/channel/UCXu6mQQurrnJXPcoX_oOmZA">
            <img class="svg-image" src="/assets/icons/youtube-brands.svg" alt="youtube link">
        </a>
        <a href="https://www.facebook.com/Primordial-Soup-107806831868869">
            <img class="svg-image" src="/assets/icons/facebook-square-brands.svg" alt="facebook link">
        </a>
        <a href="https://github.com/CondensedMilk7/primordial-soup-static">
            <img class="svg-image" src="/assets/icons/github-brands.svg" alt="github link">
        </a>
    </div>
</footer>