<header>
    <h3>PRIMORDIAL SOUP</h3>
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__list-item">
                <a class="main-nav__link" href="/articles">ARTICLES</a>
            </li>
            <li class="main-nav__list-item">
                <a class="main-nav__link" href="/">HOME</a>
            </li>
            <li class="main-nav__list-item">
                <a class="main-nav__link" href="/about">ABOUT</a>
            </li>
            <li class="main-nav__list-item">
                <a class="main-nav__link" href="/contact">CONTACT</a>
            </li>
        </ul>
    </nav>
</header>