<header>
    <h3>PRIMORDIAL SOUP</h3>
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__list-item">
                <a class="main-nav__link {{ 'nav-active' if '/articles' in page.url }}" href="/articles">ARTICLES</a>
            </li>
            <li class="main-nav__list-item">
                <a class="main-nav__link {{ 'nav-active' if '/home' in page.url }}" href="/">HOME</a>
            </li>
            <li class="main-nav__list-item">
                <a class="main-nav__link {{ 'nav-active' if '/about' in page.url }}" href="/about">ABOUT</a>
            </li>
            <li class="main-nav__list-item {{ 'nav-active' if '/contact' in page.url }}">
                <a class="main-nav__link" href="/contact">CONTACT</a>
            </li>
        </ul>
    </nav>
</header>