/* These are styles for admin panel of Netlify CMS */

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair+Display:wght@500;600;700&display=swap");

:root {
  --bg: #3c2335;
  --bg-alt: #e9cddf;
  --bg-light: #f2e3ef;
  --fg: #fbf7fa;
  --black: #000000;
  --text: #181216;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Merriweather", serif;
}

body {
  color: var(--text);
  background-color: var(--bg-light);
}

h1,
h2,
h3,
h4 {
  margin: 1.5rem 0;
}

p {
  text-align: justify;
  margin: 1rem 0;
  line-height: 1.6rem;
}

ul {
  list-style-position: inside;
  padding-left: 1rem;
}

li {
  list-style-position: inside;
}

img {
  max-width: 100%;
}

blockquote {
  padding: 0 1rem;
}
