@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair+Display:wght@500;600;700&display=swap");

/* font-family: 'Merriweather', serif; */
/* font-family: 'Playfair Display', serif; */

:root {
  --bg: #3c2335;
  --bg-alt: #e9cddf;
  --bg-light: #f2e3ef;
  --fg: #fbf7fa;
  --black: #000000;
  --text: #181216;
  --text-alt: #65465d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
}

body {
  font-family: "Merriweather", serif;
  color: var(--text);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  color: var(--fg);
  padding: 1.2rem 1rem;
  font-size: 1.2rem;
  z-index: 10;
}

.header__logo {
  text-decoration: none;
  color: var(--fg);
}

header h3 {
  font-weight: 400;
}

a {
  text-decoration: underline;
  color: var(--bg);
  cursor: pointer;
}

.main-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-nav__list-item {
  margin: 0 1em;
}

.main-nav__link {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.main-nav__link:after {
  content: "";
  position: absolute;
  height: 0.15em;
  bottom: -0.3em;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0;
  background: var(--fg);
  transition: width 100ms ease-in;
}

.main-nav__link:hover:after {
  width: 100%;
}

.nav-active:after {
  width: 100%;
}

.notification {
  position: fixed;
  width: fit-content;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg);
  color: var(--fg);
  padding: 0.6em;
  margin: auto;
  z-index: 3;
  border: 1px solid var(--fg);
  border-radius: 8px;
  display: none;
  animation: slide-down;
  animation-duration: 500ms;
}

.notification p {
  padding: 0.3em;
}

.notification hr {
  color: var(--fg);
}

#back-to-top {
  position: fixed;
  display: none;
  right: 10vw;
  bottom: 5rem;
  height: 2.4rem;
  width: 2.4rem;
  background-color: var(--bg);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  opacity: 90%;
  border-radius: 100%;
  transition: background-color 100ms linear;
  animation-name: slide-in;
  animation-duration: 1s;
  color: var(--green);
  z-index: 5;
}

#back-to-top:hover {
  background-color: var(--text-alt);
  cursor: pointer;
}

#back-to-top > a {
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#back-to-top img {
  width: 20px;
  margin: 0;
}

.hero {
  background: url(../assets/images/wallpaper-soup.jpg);
  background-position: center;
  background-size: cover;
  background-color: var(--bg);
  width: 100%;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.1rem;
  color: var(--fg);
  letter-spacing: 0.3rem;
}

.hero-animated {
  animation-name: size-down, fade-in;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  text-align: center;
}

section {
  font-size: 1.1rem;
  margin-top: 0;
}

.section-content {
  max-width: 60rem;
  margin: 0 auto;
}

.section-content-alt {
  background: var(--bg-light);
}

section h1 {
  font-weight: 600;
}

section p {
  margin: 1.2rem 0;
}

.news {
  text-align: center;
  padding: 3rem 1rem;
  background-color: var(--bg-light);
}

.news h1 {
  margin-bottom: 3rem;
}

.recent-article {
  text-align: center;
  background: var(--bg-alt);
  min-height: 26rem;
  padding: 3rem 0;
}

.featured-article img {
  max-width: 40rem;
}

footer {
  background: var(--bg);
  padding: 1rem;
  color: var(--fg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svg-image {
  width: 2rem;
  height: 2rem;
}

.social-links a {
  margin: 0 0.2rem;
}

.articles__list {
  list-style: none;
}

.articles-container {
  position: relative;
  min-height: 100vh;
  background-color: black;
  z-index: 0;
}

.articles-background {
  position: absolute;
  top: 0;
  left: 0;
  background: url(/assets/images/library.jpg);
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.articles {
  max-width: 60rem;
  min-height: 100vh;
  background: var(--bg-light);
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.article-preview {
  margin: 2rem 0;
  padding: 1rem;
  display: flex;
}

.article-preview img {
  width: 26rem;
  height: 18rem;
  box-shadow: 2px 4px 4px rgb(168, 167, 167);
  margin-right: 1rem;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-content h1 {
  margin-bottom: 1rem;
  text-align: left;
}

.article-content__author {
  text-align: left;
  color: var(--text-alt);
}

.article-description {
  margin-top: 2rem;
  text-align: justify;
}

.article-preview__actions {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.article-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.icon-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  text-decoration: underline;
  font-family: inherit;
  cursor: pointer;
}

.icon-button > img {
  width: 1rem;
  margin-right: 0.2rem;
}

.button {
  text-decoration: none;
  background: var(--bg);
  color: var(--fg);
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  margin: 0 0.5rem;
  min-width: 8rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 4px 4px rgb(168, 167, 167);
  transition: background-color 100ms linear;
}

.button:hover {
  color: var(--bg);
  background: var(--fg);
}

.main-article {
  max-width: 60rem;
  margin: auto;
  padding: 2rem 3vw;
  background-color: var(--bg-light);
  position: relative;
}

.article-background {
  position: fixed;
  top: 0;
  left: 0;
  background: url(/assets/images/wallpaper-soup.jpg);
  background-color: var(--bg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(2px); */
  height: 100vh;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
}

.main-article h1,
.main-article h2,
.main-article h3,
.main-article h4 {
  margin: 1.5rem 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h1 a:focus,
h2 a:focus,
h3 a:focus,
h1 a:active,
h2 a:active,
h3 a:active {
  color: var(--text-alt);
  text-decoration: underline;
}

#article-title {
  margin: 0;
}

.main-article h1 {
  font-size: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.main-article p {
  text-align: justify;
  margin: 1rem 0;
  line-height: 1.6rem;
}

.main-article ul {
  list-style-position: inside;
  padding-left: 1rem;
  line-height: 1.8rem;
}

.main-article li {
  list-style-position: inside;
}

.main-article img {
  max-width: 100%;
}

.main-article blockquote {
  padding: 0 1rem;
}

.article-info {
  text-align: center;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-date {
  position: relative;
  width: fit-content;
  margin: 0;
}

#article-title {
  text-align: center;
  font-size: 2rem;
}

.main-article h1 {
  text-align: left;
  font-size: 1.6rem;
  margin: 2rem 0;
}

.article-author {
  margin: 0;
}

.article-date::after {
  content: "";
  position: absolute;
  height: 0.15em;
  bottom: -0.5em;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: rgb(39, 38, 38);
}

.table-of-contents a {
  text-decoration: none;
}

.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
  color: var(--text-alt);
}

.bibliography {
  font-size: 1rem;
}

.bibliography h2,
.bibliography-title {
  font-size: 1.8rem;
}

p.reference {
  padding-left: 3rem;
  text-indent: -3rem;
  text-align: left;
  margin: 1rem 0 0.2rem 0;
}

.reference-links {
  display: flex;
}

.reference-link {
  margin: 0 0.6rem;
  display: flex;
  align-items: center;
}

.reference-link img {
  width: 2rem;
}

.license {
  text-align: center;
  margin-top: 3rem;
}

.license img {
  margin-bottom: 1rem;
}

.about-container {
  background: var(--bg-light);
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 54rem;
  margin: auto;
  padding: 1rem;
  /* flex-wrap: wrap; */
}

.row-reverse {
  flex-direction: row-reverse;
}

.about-section__text {
  max-width: 34rem;
}

.about-section p {
  text-align: justify;
}

#discobolus {
  width: 20rem;
}

#venus {
  width: 20rem;
  border-radius: 100%;
}

#laocoon {
  width: 20rem;
  margin-right: 2rem;
}

.contact-section {
  min-height: 100vh;
  background: var(--bg-light);
  padding: 4rem 1rem 8rem 1rem;
  display: flex;
  align-items: center;
}

.paginator {
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.paginator ol {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-weight: bold;
}

.paginator a {
  text-decoration: none;
  background-color: var(--bg);
  color: var(--fg);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 100ms linear;
}

.paginator a:hover {
  color: var(--bg);
  background-color: var(--fg);
}

.paginator .page-active {
  pointer-events: none;
  background-color: var(--fg);
  color: var(--bg);
}

.not-found-container {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
  margin: auto;
  padding: 0 1rem;
  line-height: 2rem;
}

.not-found-container img {
  margin: 4rem 0;
  width: 100%;
}

.not-found-container h1 {
  margin-bottom: 1rem;
}

/* ===================== MEDIA QUIERIES ======================= */

@media (max-width: 400px) {
  p.reference {
    line-break: anywhere;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }

  .article-background {
    display: none;
  }

  .articles-background {
    display: none;
  }
}

@media (max-width: 900px) {
  header {
    flex-direction: column;
    padding: 0;
  }

  .header__logo {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background: url(/assets/images/wallpaper-soup.jpg);
    background-position: center;
    background-size: cover;
  }

  header nav {
    padding: 1rem;
  }

  .notification {
    width: 80%;
  }

  #back-to-top {
    right: 5vw;
  }

  .hero {
    display: none;
  }

  .hero h1 {
    font-size: 2.6rem;
  }

  .article-preview {
    flex-direction: column;
  }

  .article-preview img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .article-content {
    margin-top: 2rem;
  }

  .article-preview__actions {
    margin-top: 2rem;
  }

  .about-section {
    flex-direction: column;
  }

  .about-section h1 {
    margin-top: 1rem;
  }

  .contact-section {
    min-height: 90vh;
  }
}

/* ===================== ANIMATIONS ======================= */

@keyframes size-down {
  from {
    height: 95vh;
  }
  60% {
    height: 95vh;
  }
  to {
    height: 32rem;
  }
}

@keyframes fade-in {
  from {
    color: rgba(0, 0, 0, 0);
  }
  to {
    color: var(--fg);
  }
}

@keyframes slide-down {
  from {
    transform: translate(-50%, -500px);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(300%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 0.9;
  }
}

/* ===================== PRINTING ======================= */

@media print {
  body {
    font-size: 12pt;
    color: #000000;
  }

  header,
  footer,
  .article-background,
  .icon-button,
  .table-of-contents,
  .reference-links,
  .license {
    display: none;
  }

  .article-info {
    margin-top: 0;
  }

  .article-author a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }

  #article-title {
    margin-top: 0;
  }

  .bibliography {
    text-align: justify;
  }
}
