---
title: Page Not Found
layout: 'base.njk'
permalink: "404.html"
---

<div class="not-found-container">
    <img src="/assets/images/zizek.gif" alt="Zizek laying in bed, waving hands.">
    <h1>Page Not Found</h1>
    <p>You were looking for a non-existent page and stumbled across Zizek's bedroom.</p>
    <p>
        <a href="/">Click here</a>
        to save yourself and go back to home page,
        <a href="/articles">or here</a>
        to browse our articles.</p>
</div>