---
layout: 'base.njk'
title: About
---

{% include 'hero.njk' %}
<div class="about-container">
    <section class="about-section">
        <img id="discobolus" src="/assets/images/discobolus.png" alt="discobolus statue">
        <div class="about-section__text">
            <h1>Academic Inquiry Outside Academia</h1>
            <p>We provide academic-level work while keeping it approachable for almost anyone. Instead of having papers locked up in
                academic establishments, reserved for selected individuals, we make them publicly available. We want to create free
                space for thinkers outside academia with free resources.</p>
        </div>
    </section>
    <section class="about-section row-reverse">
        <img id="venus" src="/assets/images/venus.png" alt="venus statue">
        <div class="about-section__text">
            <h1>Otium Post Negotium</h1>
            <p>We believe that what makes the man is what he does at his idle time. Thus, idleness - what the Romans called "otium"
                - is the source of all intellectual inquiry. We aspire to cultivate the practice of contemplative idleness with you.
                This is the endeavor that we want to share. This is the journey we take together.</p>
        </div>
    </section>
    <section class="about-section">
        <img id="laocoon" src="/assets/images/laocoon.png" alt="laocoon statue">
        <div class="about-section__text">
            <h1>Support Us</h1>
            <p>Our goal is to share our knowledge and intellectual achievements with everyone for free. Our efforts take a fair
                amount of time and energy but it is what we love doing. Nevertheless, if you want to show your appreciation and support
                our cause, you are more than welcome! We appreciate any help you can provide us.</p>
            <p>
                <strong>
                    Paypal:
                </strong>
                <a href="https://paypal.me/primordialpridon">paypal.me/primordialpridon</a>
            </p>
        </div>
    </section>
</div>