---
layout: "base.njk"
title: Articles
---

<div class="articles-container">
    <div class="articles-background"></div>
    <div class="articles">
        {%- for article in collections.article | reverse -%}
            {% include 'article-preview.njk' %}
        {%- endfor -%}
    </div>
</div>