---
layout: 'base.njk'
title: Contact
---

{# {% include 'hero.njk' %} #}
<div class="contact-section">
    <section class="about-section">
        <img id="laocoon" src="/assets/images/laocoon.png" alt="laocoon statue">
            <div class="about-section__text">
                <h1>Contact Us</h1>
                <p>Have something to tell us? Send us a letter at
                    <a href="mailto:eatprimordialsoup@gmail.com">eatprimordialsoup@gmail.com</a>. We are open for any new ideas,
                        collaborations, recommendations, etc. We might not be able to answer every single one of them, but we will difinitely
                        read and consider them.</p>
            </div>
        </section>
    </div>