---
title: Home
description: Academic inquiry outside academia
image: "/assets/images/wallpaper-soup.jpg"
layout: "base.njk"
---

{% include 'hero.njk' %}
<section class="recent-article">
    <div class="section-content">
        <h1>Recent Article</h1>
        {%- for article in collections.featured -%}
            {% include 'article-preview.njk' %}
        {%- endfor -%}
    </div>
</section>