---
title: Home
description: Academic inquiry outside academia
image: "/assets/images/wallpaper-soup.jpg"
layout: "base.njk"
---

{% include 'hero.njk' %}
<section class="recent-article">
    <div class="section-content">
        <h1>Featured Articles</h1>
        <ul class="articles__list">
            {%- for article in collections.featured | reverse -%}
                <li>
                    {% include 'article-preview.njk' %}
                </li>
            {%- endfor -%}
        </ul>
    </div>
</section>